body{
    background: #fff;
}

h2 {
    margin: .5em 0em;
    padding: .4em 1em;
    color: #0052d4;
    /* background: linear-gradient(to right, #0052d4, #65c7f7, #9cecfb); */
}


.start-box input {
    margin-right: 25em;
    padding: 1em;
    width: 25%;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.save {
    padding: .8em;
    border-radius: 4px;
    background-color: #654fef;
    color: #fff;
    font-weight: bolder;
    border: solid #654fef;
}

table, td, th {
    border: 2px solid #ccc;
    }
    th {
        background: #654fef;
        color: #fff;
    }

    .table-container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 7em;
    }
    
    table {
    border-collapse: collapse;
    width: 90%;
    font-family: sans-serif;
    text-align: center;
    background: #fff;
    }
    
    th {
    height: 70px;
    }

    td{
        height:60px;
     }

     .id-number {
         width: 10%;
     }

    
     span.material-icons.fa.fa-trash ,  span.material-icons.fa.fa-pencil{
        font-size: 1.5em;
        color: #fff;
        padding: .3em;

    }

    span.material-icons.fa.fa-trash {
        background: #e74c3c;
    }

    span.material-icons.fa.fa-pencil {
        background: #654fef;
    }