* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    transition: transform .2s ease-in;
    
}

body.show-menu {
    transform: translate3d(0,0,0);

}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #654fef;
    color: #fff;
}

    .header h1 {
        margin: 1em;
        font-size: 1em;
        color: #fff;
    }


.nav.show-menu {
    display: block;
    transition: all .2s ease;
}
.nav {
  display: none;
  position: fixed;
  top: 0;
  width: 15em;
  height: 100vh;
  overflow: auto;
  background: #1b1b1b;
}

.menu-icons {
    float: left;
}

.nav-title {
    background: #3922ce;
    padding: 1em;
    text-align: center;
}

.nav__item {
    list-style-type: none;
    margin: 1em;
}

.nav-toggle {
    padding: 1em;
    color: #fff;
    transition: transform .3s;
    z-index: 1;
}


.nav-toggle.is-active {
    transform: rotate(90deg);
}

.nav__link {
    padding: .5em 1em;
    color: #ccc;
    text-decoration: none;
}

a.nav__link:hover {
    color: #fff;
}
