* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: #654fef;
    color: #fff;
}

.header h1 {
    margin: 1em;
    font-size: 1em;
    color: #fff;
}

.menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 15em;
    height: 100vh;
    background: #1b1b1b;
    overflow: auto;
}
.menu-icons{
    float: left;
}
.nav-title {
    background: #3922ce ;
    padding: 1em;
    text-align: center;
}
 .nav__item {
     list-style-type: none;
     margin: 1em;
}

.nav__link {
    padding: .5em 1em;
    color: #fff;
    text-decoration: none;
}
.container{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.start-box {
    padding-top: 3em;
}

.text-group {
   font-size: 1.5em;
}

.start-box input {
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.save {
    padding: .8em;
    border-radius: 4px;
    background-color: #654fef;
    color: #fff;
    font-weight: bolder;
    border: solid #654fef;
}

table , th , td{
    border: 2px solid  #d0cce7;
 }

 .table-container {
     margin-top: 2em;
 }
 
 table{
    border-collapse: collapse;
    font-family: sans-serif;
    text-align: center;
 }
 
 th{
    background-color: #654fef;
    color:white;
    font-size: 0.8em;
 }
 th , td{
    padding: 30px;
 }

 th {
    text-align: right;
}


.material-icons {
    margin: .5em;
    color: #2c0fe4;
}